<% was_validated = idea.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(idea, html: form_html_options) do |f| %>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = idea.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user %>

    <%= f.text_field :user, class: user_class, placeholder: "Enter user" %>
    <% if user_was_invalid %>
      <% idea.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = idea.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>

    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% idea.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% ancestry_class = "form-control" %>
    <% ancestry_was_invalid = idea.errors.include?(:ancestry) %>

    <% if was_validated %>
      <% if ancestry_was_invalid %>
        <% ancestry_class << " is-invalid" %>
      <% else %>
        <% ancestry_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ancestry %>

    <%= f.text_field :ancestry, class: ancestry_class, placeholder: "Enter ancestry" %>
    <% if ancestry_was_invalid %>
      <% idea.errors.full_messages_for(:ancestry).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = idea.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>

    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% idea.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-check">
    <% private_class = "form-check-input" %>
    <% private_was_invalid = idea.errors.include?(:private) %>

    <% if was_validated %>
      <% if private_was_invalid %>
        <% private_class << " is-invalid" %>
      <% else %>
        <% private_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :private, class: "form-check-label" do %>
      <%= f.check_box :private, class: private_class %> Private
    <% end %>
    <% if private_was_invalid %>
      <% idea.errors.full_messages_for(:private).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
